@import url(./main.css);

.ContactContainer {
    width: 100%;
    padding: 10vh 0;
    background: linear-gradient(180deg, rgba(246,248,250,1) 0%, rgba(246,248,250,0.4) 100%);
}

.Contact {
    width: 80%;
    padding: 2vh 1vw;
    gap: 8vw;
}

.Contact form {
    width: 70%;
}

.ContactText {
    font-weight: 600;
}

.Contact .InputDiv {
    padding: 2vh 1vw;
}

.Contact .InputDiv input, textarea {
    padding: 10px;
    background: #fff;
    border: .5px solid rgb(250, 250, 250, .5);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.35);
}

.Contact .InputDiv input:focus {
    outline: none;
    border: 1px solid #224ef5;
    transition: .6s all;
}

.Contact .InputDiv textarea {
    min-height: 24vh;
    padding: 10px;
}

.Contact .InputDiv textarea:focus {
    outline: none;
    border: 1px solid #224ef5;
    transition: .6s all;
}


.FormButton {
    padding: 1rem 1rem;
    background: #224ef5;
    color: #fff;
    border-radius: 20px;
    margin-left: 1vw;
    margin-top: 0.8vh;
    border: .5px solid #224ef5;
    transition: .5s;
}

.FormButton:hover {
    background: #fff;
    color: #000;
}

.Contact .MailLink {
    color: #0000ff;
}

/* Md - Mobile Landscape */
@media not all and (min-width: 768px) {
    .Contact {
        width: 90%;
    }

    .Contact form {
        width: 98%;
    }
}

/* Lg - Laptop */
@media not all and (min-width: 1024px) {

}

/* Xl - Desktop */
@media not all and (min-width: 1280px) {

}

/* 2Xl - Desktop */
@media not all and (min-width: 1536px) {

}