@import url(./tailwind-all.css);

footer {
    width: 98.5vw;
    gap: 6vh;
    padding: 3vh 0;
}

footer a {
    display: flex;
    gap: .5vw;
    justify-content: center;
    align-items: center;
}

.FooterBanner {
    width: 100%;
    height: 8vh;
    padding: 0 50px;
}

.FooterBanner div {
    display: flex;
    gap: 10px;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.FooterBanner svg {
    height: 20px;
    width: 20px;
}

.LinksDiv {
    width: 70%;
    margin-bottom: 5vh;
}

.LinksDiv div {
    width: 50%;
}

.LinksDiv h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2vh;
}

.LinksDiv a {
    justify-content: left;
}

hr {
    width: 90%;
    border: none;
    border-bottom: .5px solid rgb(0, 0, 0, .18);
}

.FooterCopyright {
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0, .6);
    padding-bottom: 2vh;
    font-size: .9em;
}

.FooterCopyright a:hover {
    color: #000;
    transition: .5s;
}